@media screen and (min-width: 1400px) {
    .section-4 .deco-video {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: auto;
    }

    .section-4 .rectangle-28 {
        width: 69px;
        height: 70px;
        border-radius: 50px;
        opacity: 0.75;
        background: var(--Green-700, #15803D);
        position: absolute;
        z-index: 1;
        left: 20%;
        bottom: -40px;
    }
}